<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>对用户表进行的一系列操作</description>
		<display-name>UserServlet</display-name>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.shopping.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>页面跳转控制</description>
		<display-name>页面跳转控制</display-name>
		<servlet-name>forwardServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.ForwardServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>商品小类Servlet</description>
		<display-name>商品小类Servlet</display-name>
		<servlet-name>itemServlet</servlet-name>
		<servlet-class>com.shopping.servlet.ItemServlet</servlet-class>
	</servlet>
	<servlet>
		<description>商品Servlet</description>
		<display-name>商品Servlet</display-name>
		<servlet-name>productServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.ProductServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>购物车Servlet</description>
		<display-name>购物车Servlet</display-name>
		<servlet-name>cartServlet</servlet-name>
		<servlet-class>com.shopping.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>订单Servlet</description>
		<display-name>订单Servlet</display-name>
		<servlet-name>orderServlet</servlet-name>
		<servlet-class>com.shopping.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<description>订单明细Servlet</description>
		<display-name>订单明细Servlet</display-name>
		<servlet-name>orderInfoServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.OrderInfoServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>商品大类Servlet</description>
		<display-name>商品大类Servlet</display-name>
		<servlet-name>categoryServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.CategoryServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
			This is the description of my J2EE component
		</description>
		<display-name>This is the cardServlet</display-name>
		<servlet-name>CardServelt</servlet-name>
		<servlet-class>com.shopping.servlet.CardServelt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>contactServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.ContactServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
  <servlet>
    <servlet-name>BenefitServlet</servlet-name>
    <servlet-class>com.shopping.servlet.BenefitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.shopping.servlet.AdminServlet</servlet-class>
  </servlet>





	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forwardServlet</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>itemServlet</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productServlet</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cartServlet</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderServlet</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orderInfoServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>categoryServlet</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CardServelt</servlet-name>
		<url-pattern>/card</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contactServlet</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>BenefitServlet</servlet-name>
    <url-pattern>/benefit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

	<filter>
		<filter-name>login</filter-name>
		<filter-class>com.shopping.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>com.shopping.filter.EncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>admin</filter-name>
		<filter-class>com.shopping.filter.AdminFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login</filter-name>
		<url-pattern>/product</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>admin</filter-name>
		<url-pattern>/admin/adminhome.jsp</url-pattern>
		<url-pattern>/admin/benefit.jsp</url-pattern>
		<url-pattern>/admin/card.jsp</url-pattern>
		<url-pattern>/admin/category.jsp</url-pattern>
		<url-pattern>/admin/item.jsp</url-pattern>
		<url-pattern>/admin/memeber.jsp</url-pattern>
		<url-pattern>/admin/order.jsp</url-pattern>
		<url-pattern>/admin/product.jsp</url-pattern>
		<url-pattern>/admin/send.jsp</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
