<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>对用户表进行的一系列操作</description>
		<display-name>UserServlet</display-name>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.shopping.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<description>页面跳转控制</description>
		<display-name>页面跳转控制</display-name>
		<servlet-name>forwardServlet</servlet-name>
		<servlet-class>
			com.shopping.servlet.ForwardServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>商品小类Servlet</description>
		<display-name>商品小类Servlet</display-name>
		<servlet-name>itemServlet</servlet-name>
		<servlet-class>com.shopping.servlet.ItemServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forwardServlet</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>itemServlet</servlet-name>
		<url-pattern>/item</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
